/* Title */
#title {
    background-color: red;
    font-size: 2.5rem;
    text-align: center;
}

/* Alert */
.alert-text {
    color: red;
    margin-top: 20px;
}

/* Page styles */
body {
    font-family: Arial;
    background-color: #fdf6e3;
    color: #333;
    line-height: 1.6;
    margin: 20px;
    padding: 0;
}

/* Headings */
h1 {
    color: #b22222;
    font-size: 2.5rem;
    text-align: center;
}

h2 {
    color: #2e8b57;
    font-size: 1.8rem;
    margin-top: 20px;
}

/* Links */
a {
    color: #1e90ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color:#2e8b57
}

/* Lists */
ul, ol {
    margin-left: 20px;
}

/* Images */
img {
    display: flex;
    margin: 10px auto;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
}

/* Footer */
footer {
    position: fixed;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;
    color: #1e90ff;
    font-size: 14px;
}

footer a {
    color: #1e90ff;;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}